<ion-tabs>

    <ion-tab-bar color="secondary" slot="bottom">
        <ion-tab-button tab="allaitement">
            <i class="fas fa-2x fa-utensils"></i>
            <ion-label>Allaitement</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="change">
            <i class="fas fa-2x fa-baby"></i>
            <ion-label>Change</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="frais" [disabled]="true">
            <i class="fas fa-2x fa-euro-sign"></i>
            <ion-label>Frais</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>