ion-list { margin-bottom: 0; }
ion-item-option.padding { padding: 0 .5rem; }
ion-row {
    display: flex;
    align-items: center;
    justify-content: center;
    ion-col {
        text-align: center;
        &.date {
            font-size: .75rem;
        }
        &.time {
            font-size: .85rem;
        }
    }
}
.alert-button { color: red !important; }

.comment {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 25px 25px;
    border-color: transparent transparent #c8c7cc transparent;
}