<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="primary">
            <ion-button color="" (click)="modalController.dismiss()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="!view"><i class="fas fa-baby"></i> Ajouter un change</ion-title>
        <ion-title *ngIf="view"><i class="fas fa-baby-carriage"></i> Récap</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list inset="false" lines="full">
        <!-- Start Date -->
        <ion-list-header>
            <ion-label>Heure du change <ion-label color="danger">*</ion-label></ion-label>
            <span class="mr-3"><i class="far fa-lg fa-clock"></i></span>
        </ion-list-header>
        <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime display-format="HH:mm DD/MM/YY" [(ngModel)]="date"></ion-datetime>
        </ion-item>
        <!-- Pee & Poop -->
        <ion-list-header>
            <ion-label>État de la couche <ion-label color="danger">*</ion-label></ion-label>
            <span class="mr-3"><i class="fas fa-lg fa-question"></i></span>
        </ion-list-header>
        <ion-list inset="false" lines="full" style="border-top: 1px solid rgb(204, 204, 204);">
            <ion-item>
                <ion-label>
                    <i class="fas fa-tint" [ngClass]="{'icon-enabled': pee, 'icon-disabled': !pee}"></i>
                    Urine
                </ion-label>
                <ion-toggle color="favorite" [(ngModel)]="pee"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>
                    <i class="fas fa-poo" [ngClass]="{'icon-enabled': poop, 'icon-disabled': !poop}"></i>
                    Selles
                </ion-label>
                <ion-toggle color="favorite" [(ngModel)]="poop"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>
                    <i class="fas fa-shoe-prints" [ngClass]="{'icon-enabled': trace, 'icon-disabled': !trace}"></i>
                    Traces de selles
                </ion-label>
                <ion-toggle color="favorite" [(ngModel)]="trace"></ion-toggle>
            </ion-item>
        </ion-list>
        <!-- Range -->
        <ion-list-header>
                <ion-label>Niveau de selle <ion-label color="danger" *ngIf="poop">*</ion-label></ion-label>
                <span class="mr-3"><i class="fas fa-lg fa-poop"></i></span>
        </ion-list-header>
        <ion-item>
            <ion-segment color="favorite" [(ngModel)]="poopRange" [disabled]="!poop">
                <ion-segment-button value="1">
                    <div><i class="fas fa-plus"></i></div>
                </ion-segment-button>
                <ion-segment-button value="2">
                    <div><i class="fas fa-plus"></i><i class="fas fa-plus"></i></div>
                </ion-segment-button>
                <ion-segment-button value="3">
                    <div><i class="fas fa-plus"></i><i class="fas fa-plus"></i><i class="fas fa-plus"></i></div>
                </ion-segment-button>
            </ion-segment>
        </ion-item>
        <!-- Comment -->
        <ion-list-header>
            <ion-label>Commentaire</ion-label>
            <span class="mr-3"><i class="far fa-lg fa-sticky-note"></i></span>
        </ion-list-header>
        <ion-item>
            <ion-textarea placeholder="Quelque chose à dire ?" rows="3" [(ngModel)]="comment"></ion-textarea>
        </ion-item>
        <!-- Button -->
        <ion-button expand="block" color="secondary" class="validate" (click)="submit('add')" *ngIf="!view">
            Ajouter
        </ion-button>
        <ion-button expand="block" color="secondary" class="validate" (click)="submit('update')" *ngIf="view">
            Mettre à jour
        </ion-button>
    </ion-list>
</ion-content>